@font-face {
  font-family: "outfit_bold";
  src: url("Outfit-Bold.ttf");
}

@font-face {
  font-family: "outfit_regular";
  src: url("Outfit-Regular.ttf");
}

body {
  background-color: hsl(212, 45%, 89%);
}

/* fixes horizontal and vertical centering the box by extending body to take all viewport */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0; /*the default margin (8px i guess), produces unwanted vertical scrolling*/
}

#box {
  background-color: white;
  width: 320px;
  padding: 16px 16px 40px;
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);
  display: flex;
  flex-flow: column;
  gap: 24px;
  align-items: center;
  box-sizing: border-box; /*the box remains 320px width, with or without padding */
}

.box-image {
  border-radius: 10px;
  overflow: hidden;
}

img {
  max-width: 100%;
}

#box-text {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.bold-text {
  color: rgb(31, 49, 79);
  font-family: "outfit_bold";
  text-align: center;
  font-size: 22px;
  line-height: 120%;
}

.regular-text {
  color: rgb(104, 119, 141);
  font-family: "outfit_regular";
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
}

p {
  margin: 0;
}

